.daren_recommend_box{ position:relative;}
.darenshow_tag{ position:absolute; background:url(../images/darenshow_tag.png) no-repeat; width:56px; height:57px; left:0px; top:0px;
_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/darenshow_tag.png', sizingMethod='scale');
_background-image:none; }
.daren_recommend_box .t{ background:url(../images/danren_border_t.gif) no-repeat; width:960px; height:5px; font-size:0px; line-height:0px;}
.daren_recommend_box .m{ background:url(../images/danren_border_m.gif) repeat-y; width:940px; padding:10px 15px; }
.daren_recommend_box .b{ background:url(../images/danren_border_b.gif) no-repeat; width:960px; height:5px; font-size:0px; line-height:0px;}

.daren_list{ width:690px; float:left;}
.daren_submit{ background:#f3f3f3; width:240px; height:146px; float:left;}
.daren_submit a{ display:block; margin:15px auto 0px auto; width:190px; height:110px;}
.daren_list a{ float:left; margin:0px 1px 1px 0px; }
.tp_content{ height:30px;}

.show-nav {
  background: url("../images/bg_nav.png") no-repeat scroll 0 0 transparent;
  height: 30px;
  line-height: 30px;
  margin: 0 auto;
  padding-bottom: 2px;
  width: 960px;
}

.show-nav li {
  display: inline;
  float: left;
  text-align: center;
  width: 120px;
}

.show-nav li.on a, .show-nav li.on a:hover {
    background: url("../images/bg_nav.png") no-repeat scroll 0 -32px transparent;
    color: #FFFFFF;
    font-weight: bold;
}
.show-nav li.first a, .show-nav li.first a:hover {
    margin-right: 1px;
    width: 120px;
}

.show-nav li a, .show-nav li a:hover {
    color: #333333;
    display: block;
    font-size: 14px;
    text-decoration: none;
    width: 120px;
}
.show-nav li.last {
  width: 119px;
}


.show-nav li.last a, .show-nav li.last a:hover {
    width: 119px;
}

.show-nav li a, .show-nav li a:hover {
    color: #333333;
    display: block;
    font-size: 14px;
    text-decoration: none;
    width: 119px;
}


.fix-nav{	
	position:fixed;
	top:0;
	left:0;
	width:100%;	
	text-align:center;	
	height:32px;
	border-bottom:1px solid #c8cac6;
	background:rgba(250,250,250,.8);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ccffffff,endColorstr=#ccffffff);
	padding-top:8px;
	-webkit-box-shadow:#ccc 0 1px 2px;-moz-box-shadow:#ccc 0 1px 2px;box-shadow:#ccc 0 1px 2px;
	_position:absolute;	
}
.cate_title{ background:url(../images/cate_title_bg.gif) no-repeat 0px bottom; width:960px; height:30px; line-height:28px; font-weight:bolder; font-size:14px; }
.rec_topic_item{ display:inline-block; width:460px; height:280px; overflow:hidden; float:left; margin-bottom:30px;}
.r{ margin-left:40px;}
.fav_row{ background:url(../images/daren_icon_bg.png) no-repeat -60px 3px; padding-left:17px; padding-right:10px;}
.fav_row span{ color:#e66e00; font-weight:bolder;}
.topic_view{ display:inline-block; border:#ccc solid 1px;}
.topic_view img{ width:458px; height:160px;}


.daren_submit_title{ background:url(../images/daren_submit_title.png) no-repeat; width:960px; height:270px;}
.daren_submit_desc{ background:url(../images/daren_submit_desc.png) no-repeat; width:960px; height:205px;}
.daren_submit_tq{ background:url(../images/daren_submit_tq.png) no-repeat; width:960px; height:171px; padding-top:70px;}
.daren_submit_tq .tq{ display:inline-block; float:left; width:170px; padding:30px 40px 0px 100px; height:60px; }

.daren_submit_bz{ background:url(../images/daren_submit_bz.png) no-repeat; width:960px; height:230px; padding-top:60px;}
.daren_submit_bz .bz{ display:inline-block; float:left; width:180px; padding:30px 40px 0px 100px; height:60px; }

.daren_submit_how{ background:url(../images/daren_submit_how.png) no-repeat; width:960px; height:168px;  padding:50px 10px 10px 27px; line-height:25px;}
.bz_tip{ color:#ccc; padding-left:30px;}

.daren_item{ float:left; display:inline-block; width:240px; height:90px;}