.account_info .line{ overflow:hidden; margin-bottom:20px;}
.account_info .line .name{ float:left; display:block; line-height:34px; line-height:34px; width:94px; text-align:right;}
.account_info .line input{float:left;  line-height:32px; height:32px; width:200px; border:1px solid #ccc; padding:0 10px;}
.account_info .sure_but{ border:none; background:#ff3f44; border-radius:5px; width:150px; height:34px; line-height:34px; text-align:center; color:#fff; font-size:14px; font-weight:600; margin-left:94px;}
.account_info { font-size:14px;}
