.true_btn {
background: none;
border: none;
background-color: #ef5a50;
color: #fff;
cursor: pointer;
font-size: 14px;
height: 34px;
line-height: 34px;
-moz-border-radius: 3px;
-khtml-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
padding:0 32px;
}

.field .red {
display: inline-block;
padding-left: 5px;
color: #f30;
}

.field {
width: 400px;
}
.field label {
text-align: right;
line-height: 38px;
width: 85px;
padding-right: 20px;
float: left;
height: 38px;
color: #333;
font-size: 14px;
}

 .field {
color: #666;
font-size: 14px;
line-height: 38px;
margin: 0;
overflow: hidden;
}

.field .passed {
float: right;
display: block;
padding-left: 18px;
height: 18px;
line-height: 18px;
background: url(../images/debit/noauth.png) no-repeat 0 center;
}
.field .passed a{ color:#ef5c6d;}
.field .passed.yes {
background: url(../images/debit/pass.png) no-repeat 0 center;
color: #ccc;
padding-left: 20px;
}


.fileupload .filebox {
position: absolute;
right: 0px;
top: 0px;
height: 30px;
width: 80px;
filter: alpha(opacity=1);
-moz-opacity: 0.01;
opacity: 0.01;
}
.fileupload {
cursor: pointer;
width: 80px;
height: 30px;
position: relative;
overflow: hidden;
display: inline-block;
background: url(../images/debit/upbtn.png);
text-align: center;
line-height: 30px;
color: #fff;
}
.fileuploading {
width: 80px;
height: 30px;
position: relative;
overflow: hidden;
display: inline-block;
background: url(http://localhost/p2p/app/Tpl/blue/images/upbtn.gif) 0px -30px;
text-align: center;
line-height: 30px;
color: #fff;
}
select {
border: 1px solid #c5c5c5;
padding: 3px 5px;
}
.f-input {
border: 1px solid #ccc;
font-size: 14px;
height: 20px;
line-height: 20px;
padding: 4px 10px;
width: 145px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
}
.f-input60 {
background-position: 0 -38px;
width: 44px;
}

