.medal_group{ font-size:14px; font-weight:bolder; display:inline-block; line-height:14px; padding:20px;}
.medal_list .medal_item{ width:165px; text-align:center; height:130px; float:left; display:inline-block; }
.medal_icon{ width:100%; height:100px; display:block; }
.medal_name{ width:100%; height:26px; line-height:26px; display:block; font-size:14px; }
.medal_title{ font-size:14px; font-weight:bolder; }
