.tab:hover{color:#28A7E1; }
.cur:hover{color: #444; }
a:hover{color:#28A7E1 }
.box-bd a{font-weight: bold;padding: 0 6px;}
.cont_t{ font-weight:bold; line-height:50px; height:50px; padding-top:20px}
.cont_l{ width:65%;border-right:1px solid #e3e3e3; padding-right:20px;}
.cont_r{ width:31%; }
.cont_r .contact{ font-size:14px;}
.cont_r .transmoney .f_red{ font-size:20px; font-weight:bolder; font-family:Arial; }

.cont_r .m_info{ width:70%}

.cont_r .u_money_info{ width:30%; padding-top:100px}

.cont_r .tans_user{ border-top:1px solid #ddd; margin-top:15px}
.cont_r .tans_user a{font-size:16px;font-weight:bolder;  }

.tbuy_btn{padding:0 6px; display:block; text-decoration:none;  background:#f60; height:36px; line-height:36px; font-size:14px; color:#fff; font-weight:bolder;}
.tbuy_btn:hover{ text-decoration:none; background:#f70; color:#fff}
.dtbuy_btn{ padding:0 6px; display:block; text-decoration:none;  background:#ccc; height:36px; line-height:36px; font-size:14px; color:#fff; font-weight:bolder;}


#deal-default .title{background: url("../images/blue_title.png") repeat-x;
border-left: 1px solid #ccc;
border-right: 1px solid #ccc;
height: 35px;
line-height: 36px;
margin: 0 auto;
padding: 0 10px;
padding-right:0;
color: #3a3a3a;
font-size: 12px;
font-weight:bolder;}

#deal-default .title .return{color:#565656;background: url("../images/yellow_title.png") repeat-x; width:137px; padding-right:10px}
#deal-default .title .return a{color:#565656; font-weight:normal;}
#deal-intro{}

#deal-intro .pic-box{width:233px}
#deal-intro .pic-box .pic{ border:1px solid #ccc; padding:15px}
#deal-intro .detail{padding:15px 20px;}


.detail .detail_title {
	float: left;
	padding: 0 6px 0 0;
	color: #333;
	font-size: 24px;
	font-weight:bolder;
}



.detail .items_no {border-top: none!important }
.detail .items {border-top: 1px dotted #eee; }
.detail .items .item{width: 49%; height: 50px; line-height: 50px}
.detail .items_big .item{height: 46px; line-height: 46px}
.detail .items .item .lt{ float:left; width:40%}
.detail .items .item .lb{ float:left; width:60%}


.view-infos .h_2{ color:#464646; line-height:38px; height:38px; border-bottom:1px solid #ebebeb; font-size:16px; padding-left:14px;}
.view-infos .h_2 h2{ font-weight:500; font-size:16px;} 

.tabbox{height:42px;}
.tabbox .tab{ margin-top:-1px; margin-left:-1px; margin-right:0}
.tabbox .cur{ margin-top:-4px;}

.show_block { padding:0 60px;}
.view-infos .show_block  .ul_0 li{ float:left;}
.view-infos .show_block  .ul_0 li .show_img{ display:block;}
.view-infos .show_block  .ul_0 li .show_img img{ height:96px;border:1px solid #dfdfdf; margin:0 40px;}
.view-infos .show_block  .ul_0 li .show_h{ font-size:14px; color:#6f6f6f; line-height:28px; text-align:center;}
.view-infos .care{ text-align:center; color:#F30000; line-height:36px; background:#F7F7F6;}
.view-infos .but{ width:65px; background:red; height:126px; position:absolute;}
.view-infos .prev {background:url(../images/pre_0_t.png) 16px 35px no-repeat #fff;  left:0px; top:0}
.view-infos .next {background:url(../images/next_0_t.png) 16px 35px no-repeat #fff;  right:0px; top:0}
.view-infos .show_block .show_position{ width:100%; overflow:hidden;height:126px; position:relative;}
.view-infos .show_block .show_position .ul_0 { width:auto;position:absolute; height:126px;}

.view-infos .view-item{
	padding: 0px; overflow: hidden; float: left; width: 150PX; height: 125px; text-align:center;
}

.view-infos .view-item div {
    display: table;
    margin: 0 auto;
}


.box_view { padding:20px}

.box_view .box-t{ height:50px; line-height:50px}
.box_view .box-t i.iconfont{ font-size:20px; line-height:normal;}
.box_view .box-bd{ padding:10px}
.financing{ color:#3a3a3a}
.financing .item_l {
	width: 420px;
}

.financing .item_m {
	width: 260px;
}

.financing .item {
	float: left;
	margin-right: 10px;
	overflow: hidden;
}

.financing .last {
	margin-right: 0;
	width:340px
}

.financing .lb {
	color: #9d9d9d;
	float:left;
	width:80px
}

.attr_rows {}
.attr_rows .attr_item{ float:left; width:25%; line-height:36px; height:36px}


.data_table{ background:#e3e3e3; color:#222; overflow:hidden; text-align:center; width:100%; -moz-border-radius:8px; -khtml-border-radius:8px; -webkit-border-radius:8px; border-radius:8px; } 
.data_table th{ background:#4cb7ea; color:#fff; font-weight:normal; font-size:16px; height:40px; line-height:40px}
.data_table tr td{ background:#fff; color:#222; font-weight:normal; height:36px; line-height:36px}
.data_table tr td.f_green{ color:#61c01a; }
.data_table tr.highlight td{background:#FFEEC8;}
.data_table tr.cur td{background:#F1F0F0;}