.login .lookdetail .yanzheng{
		display:block;
		background:none;
		color:#fff;
		width:100%;
	  text-align:center;
	  border:none;
	  font-size: 18px;
	  line-height:40px;
	  padding:0px;
	  height:40px;
	}