/*会员中心页*/
.u_details ul{
	border-top:1px solid #ececec;
	border-bottom: 1px solid #ececec;
	overflow:hidden;
	background:@box_color;
	margin:10px 0px;
}
.u_details{
	
	padding:6px 0px 11px 0px;
	
}
.my_detail{
	position: relative;
	height: 55px;
	width: 100%;
	border-top:1px solid #def9f9;
	border-bottom: 1px solid #cbcbcb;
}
.u_details ul li{
	border-bottom:1px solid @border_color;
	height:45px;
	padding:0px 21px 0px 47px;
	position:relative;
	position:relative;
	margin-bottom:-1px;
}

.u_details ul li .project_ico{
	position:absolute;
	left:10px;
	top:10px;
	width:25px;
	height:25px;
	border-radius:5px;
	text-align:center;
}

.u_details ul li .project_ico i{
	font-size:20px;
	line-height:25px;	
}


.u_details ul li .go_see{
	display:inline-block;
	position:absolute;
    top:16px;
	right:8px;	
	font-size:13px;
	color:@border_color;
	line-height:13px;
	height:13px;
}

.u_details ul li .specific_items{
	overflow:hidden;
	line-height:45px;
	font-size:14px;
}

.u_details ul li .specific_items h5{
	float:left;
	font-size: 15px;
	font-weight: bold;
	font-family: arial,sans-serif;
}
.u_details ul li .specific_items b{
	float:right;
	color:#ff4800;
	font-weight:bolder;
	font-family: arial,sans-serif;
}




.user_center .u_top{
	position:relative;
	overflow:hidden;
}

.user_center .u_top .this_details{
	position:relative;
	padding-left:20px;
	border-bottom: 1px solid #cbcbcb;
}

.user_center .u_top .this_details .user_pic{
	width:55px;
	height:55px;
	border:1px solid #c2c2c2;
	border-radius:50px;
	background:#fff;
	top:8px;
	left:10px;
	position:absolute;
	padding:3px;
	overflow:hidden;
}



 .u_top .this_details .user_info h3{
 	display: inline-block;
	font-size:18px;
    font-weight: bold;
	line-height:35px;
	padding-right:10px;
}
 .u_top .this_details .user_info .crjh{
 	display: inline-block;
 	background: #fea843;
 	border-radius: 3px;
 	border: 1px solid #f47809;
 	color: #fff;
 	font-weight:bold;
 	box-shadow: -1px 1px 1px #ffd361 inset;
 	font-size: 11px;
 	padding: 3px 3px;
 	font-family:"SimSun";
 }
 .u_top .this_details .user_info{
	padding-top:11px;
	padding-bottom: 11px;
}


 .u_top .this_details .user_info p{
	color:#686868;
	font-size:14px;
	line-height:22px;
	overflow:hidden;
	height:22px;
}
 .u_top .this_details .user_info p i, .u_top .this_details .user_info p span{
 	float:left;
	display:inline-block;
	height:22px;
	line-height:22px;
	padding:0px 2px;
 }
 .user_pic img{
 	width: 100%;
 	height: 100%;
 	border-radius:50%;
 }


.Statistics{
	margin: 7px 0;
	border-left-width:1px;
	border-left-style: solid;
	width: 33%;
	float: left;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.Statistics span{
	display: block;
	text-align: center;
	font-size: 12px;
	line-height: 19px;
}
.Statistics:nth-child(2) span{
	color: #f6621e;
}
.Statistics span:nth-child(2){
	color: #95a09f;
}