
.detail_tit{
	margin: 0 10px;
}
.detail_tit h3{
	padding-top: 3px;
	text-align: center;
	width: 100%;
	line-height: 35px;
	font-size: 16px;
}
.detail_tit span{
	display: block;
	width: 100%;
	text-align: center;
	height: 26px;
	line-height: 26px;
	border-radius:3px;
	background: #f4f4f4;
	font-size: 13px;
}
.detail_list ul li{
	color: #3f3e3e;
	font-size: 14px;
	border-bottom:1px solid #f2f2f2;
	margin: 0 10px;
}
.detail_list ul li label{
	width: 99px;
	height: 35px;
	line-height: 35px;
	float: left;
}
.detail_list .list_con{
	height: 35px;
	line-height: 35px;
	vertical-align: middle;
	margin-left: 75px;
}
.detail_Orange{
	color: #eb8327;
}
.detail_foot{
	overflow:hidden;
	padding: 8px 30px;
	bottom: 0px;
	width: 100%;
	
	border-top: 1px solid #e8e8e8;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.lookdetail{
	border-radius: 15px;
display: inline-block;
width: 45%;
height: 30px;
line-height: 30px;
color: #fff;
font-size: 15px;
text-align: center;
background: #3b95d3;
margin-right: 10%;
float: left;
}
.I_Investment{
	border-radius: 15px;
display: inline-block;
width: 45%;
height:30px;
line-height: 30px;
color: #fff;
font-size: 15px;
text-align: center;
background: #ff9000;
float: left;
}

.detail_foot a{
	color: #fff;
	display: inline-block;
	width: 100%;
}
.list_con em{
	display: inline-block;
	padding-right: 5px;
}

.recharge{
	display: inline-block;
	float:right;
	width: 60px;
	height: 20px;
	margin: 7px 0;
	line-height:20px;
	text-align: center;
	border-radius: 3px;
	background: #ff8400;
	font-size: 12px;
	color: #fff;
}