@CHARSET "UTF-8";
body{background:#fff; font-size:12px; font-family:"verdana,Arial";  margin:0px; padding:0px; color:#404040; }
div{margin:0 auto; padding:0;}
h1,h2,h3,h4,h5,h6,ul,li,dl,dt,dd,form,img,p{margin:0; padding:0; border:none; list-style-type:none;}
a{ color:#2191C3;} 
a:hover{ color:#37ABDD;}

#info{ position:absolute; right:2px; top:2px; border:#ccc 2px solid; padding:10px 5px; background:#fff; font-weight:bold; color:#f30; display:none;}

/*自动高对齐*/
.clearfix:after{content:"."; display:block; height:0; clear:both; visibility:hidden;}
*html .clearfix{ height:1%;}
*+html .clearfix{ height:1%;}

.blank5{ clear:both; height:5px; overflow:hidden; visibility:visible}
.blank10{ clear:both; height:10px; overflow:hidden; visibility:visible}

.f_l{ float:left}

/* 公共样式 */
.button{
background:#5AAD45;
background-image: -webkit-linear-gradient(top,#8DC03C 0%,#69902a 100%);
background-image: -moz-linear-gradient(top,#8DC03C 0%,#69902a 100%);
background-image: linear-gradient(top,#8DC03C 0%,#69902a 100%);
filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, EndColorStr='#ff8DC03C', StartColorStr='#ff69902a');
border: 1px solid #70992f;
color:#FFFFFF;
cursor:pointer;
letter-spacing:0.1em;
overflow:visible;
padding:4px 15px;
width:auto;
cursor:pointer;
-moz-border-radius: 5px;      /* Gecko browsers */
-webkit-border-radius: 5px;   /* Webkit browsers */
border-radius:5px;            /* W3C syntax */
height:26px;
}

.disbutton{
background:#ccc;
background-image: -webkit-linear-gradient(top,#ccc 0%,#ddd 100%);
background-image: -moz-linear-gradient(top,#ccc 0%,#ddd 100%);
background-image: linear-gradient(top,#ccc 0%,#ddd 100%);
filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, EndColorStr='#ffcccccc', StartColorStr='#ffdddddd');
border: 1px solid #ccc;
color:#999;
cursor:pointer;
letter-spacing:0.1em;
overflow:visible;
padding:5px 15px;
width:auto;
cursor:default;
-moz-border-radius: 5px;      /* Gecko browsers */
-webkit-border-radius: 5px;   /* Webkit browsers */
border-radius:5px;            /* W3C syntax */
}

.tip_span{ color:#ff9600;;}
.currentbtn{
background: #8DC03C;
color: #fff;
background-image: -webkit-linear-gradient(top,#69902a 10%,#777 100%);
background-image: -moz-linear-gradient(top,#69902a,#777 100%);
background-image: linear-gradient(top,#69902a 10%,#777 100%);
filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, EndColorStr='#ff69902a', StartColorStr='#ff777777');
border: 1px solid #587923;
/*text-shadow: 0px -1px 1px rgba(0,0,0,0.7);*/
color:#FFFFFF;
cursor:pointer;
letter-spacing:0.1em;
overflow:visible;
padding:5px 15px;
width:auto;
cursor:pointer;
-moz-border-radius: 5px;      /* Gecko browsers */
-webkit-border-radius: 5px;   /* Webkit browsers */
border-radius:5px;            /* W3C syntax */
}
select{ height:26px; line-height:26px}
.change_password{ width:450px;}
.textbox{ padding:4px; color:#666; line-height:14px; height:14px}
.textarea{  font-size:12px; padding:4px; color:#666; width:300px; height:150px;}
.require{ border-left:#f30 solid 2px;}
.is_effect{ cursor:pointer;}
.is_advance{ cursor:pointer;}
.is_black{ cursor:pointer;}
.readonly{ background:#ddd}

.page{ text-align:right; padding:5px 0px;}
.item_title{ text-align:right; width:130px; color:#000; background:#f5f5f5;}
.item_input{ text-align:left;}
.back_list{ font-size:12px; font-weight:normal; }
#set_sort{ border:#ccc solid 1px; font-size:12px; padding:4px; color:#666; width:20px;}

/* 提示消息 */
.message{ width:400px; padding-top:100px; }
.message table{ width:100%;}
.message td{ text-align:center; padding:5px 0px;}
.title_row{ font-size:14px; font-weight:bold; padding:10px 0px;;}
.message_row{ font-size:12px; color:#f30; font-weight:bold; padding:10px 0px; }

.main{ padding:7px; }
.main_title{background:#2191C3; color:#fff; padding:8px 15px; font-size:12px; font-weight:bolder;}
.main_title a{ color:#fff}
.search_row{border:1px solid #ddd; background:#f1f1f1; color:#333; padding:8px 15px; font-size:12px; }

/* 数据表 */
.dataTable{ width:100%; border-top:#ddd solid 1px; border-left:#ddd solid 1px; background:#fff;}
.dataTable th{ height:32px; text-align:center; background:#f5f5f5; line-height:30px;  border-right:#ddd solid 1px; border-bottom:#ddd solid 1px;}
.dataTable td{ padding:5px;line-height:28px; border-right:#ddd solid 1px; border-bottom:#ddd solid 1px;}
.dataTable td.topTd, .dataTable td.bottomTd{background:url(../images/bgline.gif) repeat-x 0px 0px; padding:0px;  height:5px; font-size:0px; line-height:0px;}
.dataTable td .is_effect{ color:#2191C3;}
.dataTable td .is_advance{ color:#2191C3;}
.dataTable td .is_black{ color:#2191C3;}
.dataTable .row{ background:#ffffff}
.dataTable .row1{ background:#f9f9f9}
.dataTable .row_cur{ background:#f5f5f5}
.dataTable .row_chk{ background:#FDF3D2!important}

table.form{ width:100%; border-top:#ddd solid 1px; font-size:14px; border-left:#ddd solid 1px; background:#fff;}
table.form th{ height:32px;text-align:center; background:#f5f5f5; line-height:30px;  border-right:#ccc solid 1px; border-bottom:#ddd solid 1px;}
table.form td{ padding:5px;line-height:28px; border-right:#ddd solid 1px; border-bottom:#ddd solid 1px;}
table.form .topTd, table.form .bottomTd{ background:url(../images/bgline.gif) repeat-x; height:5px; font-size:0px; padding:0px;}

table.access_list td{ padding:8px; border:none; border-bottom:dotted 1px #ccc;}
table.access_list td label{ display:inline-block; padding:0px 10px;}
table.access_list td.access_left{ border-right:dotted 1px #ccc; text-align:right;}


table.form .ke-container { border:1px solid #ccc; padding:0px;}
table.form .ke-content { border:0px; padding:0px;}
table.form .ke-container td,.ke-container th{ padding:0px; border:0px; }
table.form .ke-bottom{ border:0px; padding:0px;}
table.form .ke-bottom td,table.form .ke-bottom th{ border:0px; padding:0px;}

.none_border table.ke-container { border:0px solid #ccc; padding:0px; background:#fff;}
.none_border table.ke-content { border:0px; padding:0px;}
.none_border table.ke-container td,.ke-container th{ padding:0px; border:0px; }
.none_border table.ke-bottom{ border:0px; padding:0px;}
.none_border table.ke-bottom td,table.form .ke-bottom th{ border:0px; padding:0px;}
.none_border table{ border:0px;}

#region_conf div{ padding:5px 0px;}
.cfg_title{ display:inline-block; float:left; width:100px;}
.cfg_content{ display:inline-block; float:left; }
table.no_border td{ border:0px;}

#filter_row{ display:none; }

.topic_image{ width: 100px; height:100px; overflow:hidden; position:relative; float:left; border:#ccc solid 1px; display:inline-block; margin:5px;}
.topic_image img{ width:98px; height:98px;}
.topic_image span{ position:absolute; width:20px; height:20px; background:#f30; text-align:center; line-height:20px; border:#fff solid 1px; color:#fff; left:2px; top:2px; cursor:pointer;}

.ct_footer_tip{ position:absolute; background:#fff; height:32px; line-height:30px; padding-left:15px; padding-right:30px; right:1px; top:1px}
.ct_footer_tip .close{ border:1px solid #ccc; position:absolute; text-decoration:none; display:inline-block; background:#fff; line-height:12px; text-align:center;top:8px; right:5px; height:12px; width:12px; font-size:12px; font-family:Tahoma;}

.button_none{ height:28px; line-height:28px}
.op_action{ width:70px; text-align:center;}
.viewOpBox{ display:none; position:absolute; right:78px;  word-break:keep-all; white-space:nowrap; background:#2191C3; padding-left:10px;border:1px solid #ddd }
.viewOpBox a{color:#fff; display:block; float:left; margin-right:10px}

.provinceSchool{display:none;position:absolute;width:580px;height:310px;border:1px solid #72B9D7;background: white;}
.provinceSchool .title{width:100%;height:30px;background:url(../images/title-bg.png) repeat-x center left;}
.provinceSchool .title span{margin-left:10px;font-weight:600;color:#FFF;line-height:30px;}
.provinceSchool .proSelect{width:550px;height:22px;margin:10px 0 6px 15px;}
.provinceSchool .proSelect select{width:136px;}
.provinceSchool .proSelect input{display:none;}
.provinceSchool .schoolList{width:550px;height:200px;margin-left:15px;overflow-y:auto;border:1px solid #72B9D7;}
.provinceSchool .schoolList ul{width:510px;}
.provinceSchool .schoolList ul li{float:left;width:158px;height:22px;margin-left:6px;padding-left:6px;line-height:22px;cursor:pointer;}
.provinceSchool .schoolList ul li.DoubleWidthLi{width:328px;}
.provinceSchool .schoolList ul li:hover{background:#72B9D7;}
.provinceSchool .button{width:100%;height:40px;margin-top:8px; background:none; padding:0; border:none;}
.provinceSchool .button span{float:right;margin-right:20px;padding:4px 10px;background:url(../images/ui-bg.png);border:none;color:#FFF;font-weight:600;cursor:pointer;}
 
